* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

.head {
    max-height: 100px;
    align-items: flex-start;
    height: auto;
    width: 100%;
    background-color: rgb(17, 237, 237);
    border-radius: 4px;
    padding: 10px;
    display: flex;
    justify-content: left;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}
    
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    color:rgb(42, 105, 105);
    font-size: 250%;
}

.link {
    display: flex;
    align-items: center;
}

.section {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.website_name {
    display: flex;
    align-items: center;
    background-color: lightgrey;
    height: 125px;
    width: 100%;
    margin-top: 30px;
    /* margin-bottom: 30px; */
    overflow-wrap: normal;
    text-align: center;
}

.search_bar {
    display: flex;
    align-items: center;
    background-color: lightgrey;
    height: 100px;
    width: 100%;
    /* margin-top: 300px; */
    /* margin-bottom: 300px; */
    overflow-wrap: normal;
    text-align: center;
}

.visualization {
    display: flex;
    align-items: center;
    background-color: lightgrey;
    height: 175px;
    width: 100%;
    /* margin-top: 30px; */
    margin-bottom: 30px;
    overflow-wrap: normal;
    text-align: center;
}

.button2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    justify-content: center;
}

#form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 50%;
    align-content: center;
} 

.button {
    width: 150px;
    height: 50px;
    color: rgb(42, 105, 105);
    background-color: rgb(17, 237, 237);
}