* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.head {
    max-height: 100px;
    align-items: flex-start;
    height: auto;
    width: 100%;
    background-color:red;
    border-radius: 4px;
    padding: 10px;
    display: inline-block;
    justify-content: left;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    font-size: 30px;
    color: black;
}

.link {
    display: flex;
    align-items: center;
}

.section {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.website_name {
    display: flex;
    align-items: center;
    background-color: lightgrey;
    height: 125px;
    width: 100%;
    margin-top: 30px;
    /* margin-bottom: 30px; */
    overflow-wrap: normal;
    text-align: center;
}

.search_bar {
    display: flex;
    align-items: center;
    background-color: lightgrey;
    height: 100px;
    width: 100%;
    /* margin-top: 300px; */
    /* margin-bottom: 300px; */
    overflow-wrap: normal;
    text-align: center;
}

.visualization {
    display: flex;
    align-items: center;
    background-color: lightgrey;
    height: 175px;
    width: 100%;
    /* margin-top: 30px; */
    margin-bottom: 30px;
    overflow-wrap: normal;
    text-align: center;
}

.button {
    
    width: 150px;
    height: 50px;
    background-color: red;
}

.button2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

} 

#button {
    background-color: red;
}