* {
  box-sizing: border-box;
}



html {
  background-color: #ff9b42;
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;


  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #8a4fff;
}

a {
  display: inline-block;
  text-decoration: none;
}

h2,
h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 1.5rem;
}

form {
  accent-color: hsla(120, 100%, 50%, 0.482);
}


.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
}

.container {
  margin: 0 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex: 1;
}

.header {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
}

.header h1 {
  display: block;
  /* this will push other blocks out of the way */


  background-color: #c3bef7;
  color: #000000;

  border-style: double;
  border-radius: 6px;
  font-size: 1.5rem;
  padding: 1.25rem;
  margin: 0; /* removing the margin on h1 tags means the header pins to the top if we move */

  /* box-shadows are fancy */
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
}


.box {
  background-color: #c3bef7;
  border: 2px double;
  border-radius: 4px;

  width: fit-content;
  height: fit-content;
  padding: 1.5rem;
  margin: 0 auto;
}

.left_section {
  background-color: #effffa;
  flex: 0 1 auto;
  margin: 1rem;
  padding: 1.5rem;
}

.right_section {
  background-color: #effffa;
  flex: 1 2 auto;
  margin: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer {
  border-style: double;
  color: purple;
  flex-shrink: 0;
  padding: 1rem;
  background-color: #c3bef7;
  font-size: 1.2rem;
  font-weight: 600;
}

.footer a {
  color: rgb(90, 1, 158);
  text-decoration: underline;
}

.footer a:hover {
  /* Hue, saturation, luminosity, alpha */
  background-color: hsla(0, 0%, 90%, 0.15);
  /* red, green, blue, alpha */
  color: rgb(4, 17, 255);
  text-decoration: double;
}

.subtitle {
  color: rgba(0, 0, 0, 0.8);
  margin: 0px;
  margin-bottom: 5px;
}

/* Deploy this with images as direct "children" and the images should pop into shape */
.grid {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  width: 350px;
  height: 350px;
  margin: 0 auto;
}

.grid img {
  width: 150px;
  height: 150px;
}

/* Carousel */
div.carousel {
  max-width: 300px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.carousel .slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

/* .carousel_item, */
.hidden {
  display: none;
}

.visible {
  display: block;
}

.carousel_item img {

  width: 150px;
}

.prev,
.next {
  border: none;
  margin: 2px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  height: 45px;
  padding: 10px;
  line-height: 0; /* This centers a button's text! */
  border: 2px solid rgb(99, 99, 99); /* shorthand for how to do a border */
}

.prev:focus,
.next:focus {
  margin: 0;
  border: 2px solid rgb(45, 108, 113);
  /* Pick a good border colour and check out how it works with your buttons */
}

.prev:hover,
.next:hover {
  background-color: firebrick;
  color: black;
  /* Pick a good background colour for your hover pseudoclass */
}


 #map { 
    display: block;
    height: 300px;
    width: 400px;
    border: 2px dashed rgb(99, 99, 99)


}

form input {
  /* This is a hack to make sure our boxes line up with one another nicely */
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;

  /* here we are setting white space correctly */
  margin-bottom: 1rem;
  height: 2rem;
  border-radius: 4px;
}

form label {
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  align-items: flex-start;

  display: block; /* this turns the label text into a box we can set margins on */
  margin-bottom: 0.5rem;
}

/* How To Write A Media Query For Small Screens */

@media only screen and (max-width: 736px) {
  /* Rules in here will only apply when a screen is the correct size */
  /* check it out by using your developer tools to shrink your screen-size */
  .container {
    background-color: rgba(1, 52, 161, 0.925);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right_section{
    background-color: aqua;
      flex: 1 2 auto;
      margin: 1rem;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
  }

}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis_hidden {
  display: hidden;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.chart_container{
  height: 100%;
  width: 100%;
}
