body {
    margin: 0;
  }
  
  .top-bar {
    display: flex;
    color: #fff;
  }
  
  .top-left-bar {
    flex-grow: 1;
    background-color: blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
  }
  
  .top-right-bar {
    flex-grow: 1;
    display: flex;
    background-color: lightblue;
    align-items: center;
    justify-content: center;
  }
  
  .top-right-bar div {
    margin: 5px;
  }
  
  .home-container {
    display: flex;
    background-color: gray;
    height: 100vh; /* height takes up whole page */
    flex-grow: 1; /* width */
    align-items: center;
  }
  
  .preferences-container {
    flex-grow: 1;
    height: 30vh;
    background-color: white;
    border-radius: 25px;
    margin: 50px;
  }
  
  .suggestions-container {
    flex-grow: 1;
    height: 80vh;
    background-color: lightblue;
    border-radius: 25px;
    margin: 50px;
    display: flex;
    flex-direction: column;
  }
  
  #pref-header {
    margin: 30px;
  }
  
  #sugg-header {
    display: flex;
    justify-content: center;
  }
  
  .results {
    flex-grow: 1;
  }
  
  ul {
    /* remove bullets from ul elements */
    list-style-type: none;
  }
  
  .results li {
    margin: 100px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  /**
   * Styling for University.ejs View
   */
  .sub-bar {
    padding: 15px;
    background: #3b3b3b;
  }
  
  .sub-bar a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  
  .university-info-container {
    padding: 20px;
  }
  
  .university-title h1 {
    margin-top: 0;
  }
  
  .university-grid {
    justify-content: center;
    display: flex;
  }
  
  .university-grid div {
    margin: 0 auto;
  }
  
  .university-details img {
    border-radius: 12px;
  }
  
  .university-insight,
  .university-reviews {
    background: lightblue;
    border-radius: 12px;
    padding: 10px 15px;
    width: 100%;
    margin-right: 20px !important;
    position: relative;
    box-sizing: border-box;
  }
  
  .university-insight a {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: #3b3b3b;
    color: #fff;
    padding: 15px;
    border-radius: 6px;
  }

  .metrics-container {
      position: relative;
      background-color: lightblue;
      padding: 10px;
      border-radius: 20px;
      width: 220px;
  }

  .metrics-layout {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }

  .buttons {
      display: flex;
      flex-direction: row;
      color: lightslategray;
      border-radius: 100px;
  }

  .column {
      display: flex;
      flex-direction: column;
  }

  .grey {
      color: lightslategray;
  }
