@import url(https://fonts.googleapis.com/css?family=Changa+One&effect=anaglyph);

.font-effect-anaglyph {
  font-family: "times new roman", cursive;
  text-align: center;
  color: rgba(4, 247, 174, 0.9);
}

html {
  background-color: #63708d;
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: url("images/fancy-pants.jpg");

  /* these are specific to different browsers */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

a {
  display: inline-block;
  text-decoration: none;
}

h2,h3 {
  margin: 0;
  padding: 0;
  font-size: 30;
  padding-bottom: 1.5rem;
}

form {
  accent-color: hsla(120, 100%, 50%, 0.482);
}

.button1 {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  transition: all 0.15s;
  background-color: transparent;
  width: fit-content;
}

.button1:hover{
  background-color: aqua;
}

.gif {
  border: solid 5px rgb(202, 26, 255);
  width: auto;
  height: auto;
}

/*
  - These styles use 'class names'
  - You can apply them by using the 'class' attribute on your HTML
  - like this: <div class="wrapper">
  - note that the period vanishes there!
*/

/* Header */
.top {
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2c3b6b;
  height: auto;
}

.items {
  font-size: 20px;
  width: 100%;
  flex-direction: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search_box {
  display: flex;
  flex-direction: row;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
}

/*
  This rule implies that the H1 tag lives within another HTML tag
  It "inherits" some rules from the above
  Those rules won't apply to an h1 that's outside a block with the class of 'header'
*/

/* Makes the buttons/objects bounce*/
.bouncy {
  animation: bouncy 5s infinite linear;
  position: relative;
}
@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.header h2 {
  display: block;
  /* this will push other blocks out of the way */

  /* shapes */
  border-radius: 6px;
  border: 2px dashed;
  font-size: 1.5rem;
  padding: 1.25rem;
  width: 200;
  margin: 0; /* removing the margin on h1 tags means the header pins to the top if we move */

  /* box-shadows are fancy */
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
}

/*
  Rules can be combined on a block to apply the 'cascade' in order
  So you can use two classnames in a single class attribute
  like: <div class="box section">

  Rules may combine in unexpected ways - remember that the LAST thing written in this file will have "priority"
  And will be what displays in your client
*/
.content{
  display: block;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.left_section {
  background-color: rgba(222, 21, 108, 0.8);
  flex: 0 1 auto;
  margin: 1rem;
  padding: 1.5rem;
  flex-direction: column;
  display: flex;
}

.right_section {
  background-color: rgba(15, 118, 228, 0.7);
  flex: 1 2 auto;
  margin: 1rem;
  align-items: center;
  flex-direction: column;
  display: flex;
  
}

.chartBox {
  display: block;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 20px;
  border-radius: 20px;
  border: solid 5px rgb(152, 26, 255);
  background-color:#000111;
  width: 90%;
  height: auto;
  overflow: auto;
}
.container {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  flex: 1;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: rgba(239, 239, 239, 0.7);
  border-radius: 20px;
  border: solid 5px rgb(26, 60, 255);
  width: min-content;
  padding-bottom: 10;
  margin: 30 auto;
}

.frame{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 255, 64, 0.7);
  border-radius: 20px;
  width: min-content;
  padding-bottom: 10;
  margin: 1rem;
}

.prev_nex{
  display: block;
  display: flex;
  justify-content: center;
}

.footer {
  flex-shrink: 0;
  padding: .3rem;
  background-color: rgba(0, 139, 139, 0.8);
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

footer .button1{
  width: 250px;
  height: 50px;
}


@media only screen and (max-width: 1139px) {
  .level1 {
    flex-direction: column;
  }
}

@media only screen and (max-width: 840px) {
  .top {
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: 736px) {
  /* Rules in here will only apply when a screen is the correct size */
  /* check it out by using your developer tools to shrink your screen-size */
  .top {
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
  }


  .container {
    background-color: rgba(146, 16, 189, 0.749);
    flex-direction: column;
    justify-content: start;
    align-items: start;
    display: block;
  }
  .chartBox {
    width: 90%;
    height: 350px;
  }
  .left_section {
    background-color: rgba(38, 235, 117, 0.749);
    color: rgb(255, 225, 0);
    border: 5pt dotted;
  }
  .header h1 {
    background-color: rgba(24, 222, 13, 0.749);
    color: rgb(255, 0, 123);
    border: 10pt dotted;
  }
  .right_section {
    background-color: rgba(222, 180, 13, 0.749);
    color: rgba(13, 48, 222, 0.749);
    border: 5pt dotted;
  }
  .box {
    align-items: flex-start;
  }
}
