body {
    background-color: rgb(249, 231, 222);        
}
a {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
  }
  
  a:hover {
    background-color: springgreen;
    color: white;
  }
  
  nav {
    background-color: rgb(70, 160, 70);
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    border-top: 0px;
    
    
  }
  
  nav a {
    color: white;
    
  }
  
  
.wrapper {
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    margin:0;
  }
  
  .container {
    margin: 0 20px;
  }

  .section_1 {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10%;
  }
  
  .section_1 .text {
    display: block;
    font-weight: lighter;
  }
  
  .section_1 div.text{
    display: block;
    border-radius: 4px;
    
    padding: 30px;
    max-width: 300px;
  }
  
  .section_1 .text ul {
    list-style: circle;
    margin:0;
    padding:0;
  }
  
  .section_1 div.right{
    display: block;
    border-radius: 4px;
    padding: 10px;
    max-width: 300px;
  }

  .section_2 {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 10%;
    
    
  }
  
  .section_2 .text {
    font-weight: lighter;
  
  }
  
  .section_2 div.text{
    display: block;
    border-radius: 4px;
    
    padding: 10px 30px;
    max-width: 300px;
  }
  
  .section_2 .text ul {
    list-style: circle;
    margin:0;
    padding:0;
    
  }
  
  .section_2 div.right{
    display: block;
    border-radius: 4px;
    
    padding: 10px;
    max-width: 300px;
  }

  .nav_2{
    background-color: rgb(117, 157, 117);
    border-radius: 40px;
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    border-top: 0px;
    
    
  }
  