
html {
    background-color: rgb(171, 171, 171);
    font-size: 16px;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
  
    /* these are specific to different browsers */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.box {
    background-color: rgba(239, 239, 239, 0.40);
    border: 2px dashed;
    border-radius: 4px;
  
    width: fit-content;
    height:fit-content;
    padding: 10px;
    margin: 0 auto;
}
  
.left_section {
    background-color:#93827F;
    flex: 0 1 auto;
    margin: 1rem;
    padding: 1.5rem;
}
  
.right_section {
    background-color: #BDC4A7;
    flex: 1 2 auto;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.icon-bar {
    width: 100%;
    background-color: #555;
}

.flex-container {
    display: flex;
    background-color: rgb(23, 87, 151);
  }
  
.flex-container > div {
    margin: 5px;
    padding: 10px;
    font-size: 30px;
}

.dropbtn {
    background-color: #041520;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: fit-content;
    height:fit-content;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    height: 100vh;
    width: 100%;
    background-image: url(images/bg.png);
    background-position: center;
    background-size: cover;
    padding-right: 3%;
    padding-left: 5%;
    box-sizing: border-box;
    position: relative;
}
.header {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo {
    width: 80px;
    margin-top: 10px;
    cursor: pointer;
}
nav {
    flex: 1;
    padding-left: 450px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.content {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.content .text {
    position: relative;
    max-width: 600px;
}
.content .text h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 80px;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-size: 40px;
    color: #fff;
}
.content .text h1 span {
    font-size: 50px;
}
.content .text p {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .1em;
    margin-top: 40px;
    color: #e7e3e3;
 }
.btn3 {
    background: linear-gradient(to bottom, #cbcbcb 2%, #fff 100%);
    margin-top: 60px;
    margin-left: 140px;
    padding: 15px 30px;
    text-align: center;
    transition: .5s;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #1b1b1b;
    font-size: 20px;
    font-weight: 700;
    border-radius: 30px;
    box-shadow: 1px 4px 12px rgba(94,28,68,.15);
}
.movies{
    display: flex;
    height: 100%;
    position: absolute;
    width: 600px;
    margin-top: 80px;
    padding-left: 440px;
    justify-content: flex-end;
}