* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #5D6063;
    background-color: #EAEDF0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.3;

    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Button for the login page*/
button div{
  width: 100%;
  height: 100%;
}

button div a{
  width: 100%;
  height: 100%;
  padding: 2rem;
}

/* Heading for the dashboard*/
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  background-color: gainsboro;
}

img#logo  {
  width: 20%;
  height: 15%;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

h1.dashboard {
  text-align: center;
}

/* URL link*/
a {
  text-decoration:none;
}

a:visited { 
  text-decoration: none; 
  color:rgb(255, 255, 255);
}


/* Dashboard title  --The new name is now header*/
.section_1{
  width: 100%;
  display: inline-block;
  background-color: rgba(31, 122, 175, 0.61);
  padding: 10px 15px;
  margin: 0;
  margin-bottom: 10px;
}

/* Navigation Bar*/
nav {
  background-color: rgba(0,139, 139,0.4);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
}


nav.dashboard_nav{
  background-color: rgba(0,139, 139,0.4);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
}

/* This is not doing anything*/
nav a {
  color: rgb(145, 219, 188);
}

/* Carousel Slides*/
.carousel-display-left{
  color: #999999;
}
.carousel-display-right{
  color: #999999;
}
/* Speaker Form*/
.speaker-form {
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;

    width: 80%;
    padding: 50px;
    margin-top: 150px;
}

/* Styling the text input fields*/
.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type='text'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row label {
    margin-bottom: 15px;
  }


/* Change this rule */
    .form-row input[type='text'] {
    background-color: #FFFFFF;
    /* ... */
}

/* To have another selector */
    .form-row input[type='text'],
    .form-row input[type='password'] {
    background-color: #FFFFFF;
    /* ... */
}

.form-row input[type='text']:invalid,
.form-row input[type='password']:invalid {
  border: 1px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none; /* Remove default red glow in Firefox */
}

.legacy-form-row {
    border: none;
    margin-bottom: 40px;
  }
  
  .legacy-form-row legend {
    margin-bottom: 15px;
  }
  
  .legacy-form-row .radio-label {
    display: block;
    font-size: 14px;
    padding: 0 20px 0 10px;
  }
  
  .legacy-form-row input[type='radio'] {
    margin-top: 2px;
  }
    
  .legacy-form-row .radio-label,
  .legacy-form-row input[type='radio'] {
    float: left;
  }

  .form-row select {
    width: 100%;
    padding: 5px;
    font-size: 14px;            /* This won't work in Chrome or Safari */
    -webkit-appearance: none;   /* This will make it work */
  }

/* Styling text areas*/
.form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;

    border: 1px solid #D6D9DC;
    border-radius: 3px;

    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
    }

    .form-row .instructions {
    color: #999999;
    font-size: 14px;
    margin-bottom: 30px;
}


/* Styling the images*/
.tv_film_selection{
  display: flex;
}

img#image_1 {
  margin-right: 75px;
}

/* Styling the button from the images*/
.container{
  position: relative;
  width: 50%;
}

.container .btn{
  position: absolute;
  top: 87%;
  left: 47%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 47px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: rgba(136, 128, 128, 0.842);
}


/* Styling the submit button*/
.form-row button {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #181717b7;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
  }
  
  .form-row button:hover {
    background-color: #76AEED;
  }
  
  .form-row button:active {
    background-color: #407FC7;
  }

/***
*       ____                          _              
*      / __ \                        (_)             
*     | |  | |  _   _    ___   _ __   _    ___   ___ 
*     | |  | | | | | |  / _ \ | '__| | |  / _ \ / __|
*     | |__| | | |_| | |  __/ | |    | | |  __/ \__ \
*      \___\_\  \__,_|  \___| |_|    |_|  \___| |___/
*                                                                                                      
*/



@media only screen and (min-width: 700px) {
    .speaker-form {
      width: 600px;
    }
    .form-row {
      flex-direction: row;
      align-items: flex-start; /* To avoid stretching */
      margin-bottom: 20px;
    }
    .form-row input[type='text'] {
      width: 250px;
      height: initial;
    }
    .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }

    .form-row input[type='text']:invalid,
    .form-row input[type='password']:invalid {
        border: 1px solid #D55C5F;
        color: #D55C5F;
        box-shadow: none; /* Remove default red glow in Firefox */
    }
    .form-row input[type='text'],
    .form-row input[type='password'],    /* Add */
    .form-row select,                 /* These */
    .form-row textarea {              /* Selectors */
        width: 250px;
        height: initial;
    }
    .legacy-form-row {
        margin-bottom: 10px;
    }
    .legacy-form-row legend {
        width: 120px;
        text-align: right;
        padding-right: 20px;
    }
    .legacy-form-row legend {
        float: left;
    }

    .form-row .instructions {
        margin-left: 120px;
    }

    .form-row .checkbox-label {
        margin-left: 120px;
        width: auto;
      }

    .form-row button {
    margin-left: 120px;
    }
}
