.result_display{
    width: 80%;
    display: flex;
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 30px;
  }

  .info_text {
    color: white;
  }