body {
  margin: 0;
}

.top-bar {
  display: flex;
  color: #fff;
}

.top-left-bar {
  flex-grow: 1;
  background-color: blue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.top-right-bar {
  flex-grow: 1;
  display: flex;
  background-color: lightblue;
  align-items: center;
  justify-content: center;
}

.top-right-bar div {
  margin: 5px;
}

.home-container {
  background-color: #f2f2f2;
}

.preferences-container {
  flex-grow: 1;
  height: 30vh;
  background-color: white;
  border-radius: 25px;
  margin: 50px;
}

.suggestions-container {
  flex-grow: 1;
  height: 80vh;
  background-color: lightblue;
  border-radius: 25px;
  margin: 50px;
  display: flex;
  flex-direction: column;
}

#pref-header {
  margin: 30px;
}

#sugg-header {
  display: flex;
  justify-content: center;
}

#results-container {
  max-height: 100%;
  overflow-y: auto;
  margin: 0 -20px;
}

.results {
  flex-grow: 1;
}

ul {
  /* remove bullets from ul elements */
  list-style-type: none;
}

.results li {
  margin: 25px 15px;
}

.results li .uni-info {
  margin-left: 30px;
}

/**
 * Styling for Views
 */
.sub-bar {
  padding: 15px;
  background: #3b3b3b;
}

.sub-bar a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.metrics-form {
  position: relative;
  background-color: lightblue;
  padding: 10px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 15px;
}

.metrics-form:first-of-type {
  margin-top: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  color: lightslategray;
  border-radius: 100px;
}

.column {
  display: flex;
  flex-direction: column;
}

.grey {
  color: lightslategray;
}
