/* USING BULMA AS A START BUT CAN/WILL CHANGE*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
      ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    background-color: #5A7DD8;
  }
  
  html {
    background-color: #5A7DD8;
  }
  
  /* Page Layout */
  .columns {
    display: flex;
    flex-wrap: wrap;
  }
  
  .wrapper {
    display: flex;
  }
  .container {
    max-width: 960px;
    margin-top: 25px;
  }
  
  /* Mobile Styles */
  @media only screen and (max-width: 400px) {
    .columns {
      width: 100%;
    }
  }