/* Home page style */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin-top: 25px;
  margin: auto;
}

nav {
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  background-color: #ffe100a6; 
}

#form{
  background-color: rgb(221, 225, 226);
  min-width: 250px;
  border-radius: 4px;
  padding: 15px;
  margin-left: 50px;
  align-items: flex-start;
}

.columns{
  align-items: center;
  justify-content: flex-start;
  width: 100px;
}

.options{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* About page style */
.right{
  display: inline;
  flex-direction: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.text{
  background-color: rgb(99, 107, 110);
  border-radius: 4px;
  padding: 50px;
  margin: 20px 25px;
  margin-top: -50px;
  /* float: right; */
}

.grid {
display: flex;
justify-content: flex-start;
}

/* img {
  width: 20px;
} */

.email {
  display: inline;
  background-color: lightgray;
  width: 150px;
  border-radius: 8px;
  align-items: center;
}

.google {
  background-color: rgb(219, 179, 179);
  width: 200px;
  border-radius: 8px;
}

.facebook {
  background-color: rgb(184, 145, 216);
  width: 200px;
  border-radius: 8px;
}

.button {
  border: none;
  margin-top: 10px;
  cursor: pointer;
  background-color: #7e8cc9;
}

.signup {
  margin-top: 40px;  
}

.table{
border-collapse: collapse;
border-spacing: 0;
}

.th, td{
padding: 10px 20px;
border: 1px solid #000;
}

h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(11, 140, 187);
  align-items: center;
}

.section{
  /* display: block; */
  justify-content: center;
  font-style: italic;
  font-size: 2em;
  margin-top: -55px;
  margin-right: 50%;
}

.center{
  margin-left: 40%;
  margin-top: -28%;
}

.right_end{
  margin-left: 80%;
  margin-top: -28.2%;
}

h3{
  color: #cc3333;
}

