.header {
    background-color: lightcoral;
    border-radius: 20px;
}

.title-head {
    padding-top: 25px;
    padding-left: 20px;
    font-size: 45px;
}

.navigation {
    display: flex;
    margin-top: 100px;
    margin-left: 600px;
    margin-right: 100px;
    padding-bottom: 10px;
    justify-content: space-between;

}

a {
    font-size: 19px;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 40px;
}

.dropdown {
    position: relative;
}

.mdflag img {
    display: flex;
    width:340px; /* you can use % */
    height: auto;
    padding-left: 290px;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2ecf64;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu */
  .show {display:block;}