* {
    font-family: 'Courier New', Courier, monospace;
}


body {
    background-color: #B3D28A;
}

.container {
    display: flex;
    flex-direction: row;
}

.sidenav {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #C3F951;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
  
.sidenav a {
    background-color: #CFFF6A;
    padding: 35px;
    margin: 10px;
    width: 100%;

    text-align: center;
    text-decoration: none;
    font-size: 38px;
    font-weight: bold;
    color: #1D5026;
    display: block;

}
  
.sidenav a:hover {
    background-color: #f1f1f1;
}

.topleftlogo {
    display: flex;
    justify-content: center;
}

.bottomleftlogo {
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.logo1 {
    position: relative;
    height: 280px;
}

.logo2 {
    position: relative;
    margin-top: 30px;
    height: 100px;
}

.divider {
    height: 100%;
    width: 20px;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 400px;
    background-color: #FFF;
    overflow-x: hidden;
}
  
.main {
    margin-left: 420px; 
    font-size: 28px; 
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.robospeech {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.speechbubble {
    width: 80%;
}

.contentbox {
    width: 100%;
    background-color: #E1F0DA;
    height: 650px;
    border-radius: 55px;
    margin-left: 20px;
    margin-right: 20px;
}

.content {
    margin: 30px 50px 30px 50px;
}
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
