/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 100%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 90%;
    margin: 0;
    padding: 0;
  }

  

h1{
    font-family: 'Ropa Sans';
  }
  
  .container{
    text-align: center;
  }
  
  nav {
      background-color: rgba(255, 0, 0);
      display: flex;
      flex-flow: row wrap;
      border-radius: 4px;
      justify-content: space-evenly;
      padding: 10px;
      margin-bottom: 15px;
    }
    
  nav a {
      color: rgb(255, 255, 255);
  }