
* {
    font-family: 'Acme';
}
.collapsible {
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    margin-left: 1.9em;
    font-family: 'Acme';
    
  }
  
  .active, .collapsible:hover {
    background-color: #555;
    color: white;
    text-underline-position: auto;
  }

  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #C4C4C4;
    font-family: 'Acme';
  }

 .footnotes {
    color: black;
    background-color: #f3f2f2;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-left: 1.9em;
  }

  .gif {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 100px;
  }