h1 {
    font-size: 55px;
}
#resultContainer{
    background-color: aliceblue;
    min-height: 600px;
    width: auto;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.result {
    height: 260px;
    width: 290px;
    padding: 10px;
    display: flex;
}
.result img {
    max-height: 234px;
    max-width: 155px;
}
.imageArea {
    height: 234px;
    width: 155px;
}
.bookInfo{
    margin: 5px;
}
hr{
    margin: 13px;
    background-color:lightgray;
}
.pageSelector{
    height: 25px;
    width: 100px;
    font-size: 18px;
    background-color: lightgray;

}
#nextPageFooter{
    display: flex;
    justify-content: flex-end


}