body {
  background-color: rgb(54, 54, 54);
}

.labels {
  color: white;
}

.drop{
  color: gray;
  width: 4cm;
}

.submit {
  background-color: black;
  color: white;
  border-radius: 64px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
}