* {
    box-sizing: border-box;
  }
  
  /* 
    These rules apply to actual HTML elements with no labelling!
    So: they style the tags directly
  */
  
  html {
    background-color: #fff;
    font-size: 16px;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
  
    /* these are specific to different browsers */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
  
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgb(239, 239, 239);
  }
  
  
  a {
    display: inline-block;
    text-decoration: none;
  }
  
  h2 {
    margin:0;
    padding:0;
    padding-bottom:1.5rem;
  }
  
  form {
    accent-color: hsla(120, 100%, 50%, 0.482);
  }
  
  /*
    - These styles use 'class names'
    - You can apply them by using the 'class' attribute on your HTML
    - like this: <div class="wrapper">
    - note that the period vanishes there!
  */
  
  
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
  }
  
  .container {
    margin: 0 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex:1;
  }
  
  .header {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
  }
  
  
  /*
    This rule implies that the H1 tag lives within another HTML tag
    It "inherits" some rules from the above
    Those rules won't apply to an h1 that's outside a block with the class of 'header'
  */
  
  .header h1 {
    display: block;
    /* this will push other blocks out of the way */
  
    /* colors */
    background-color: #efd68e;
    color: #090909;
  
    /* shapes */
    border-radius: 6px;
    font-size: 1.5rem;
    padding: 1.25rem;
    margin:0; /* removing the margin on h1 tags means the header pins to the top if we move */
  
  
    /* box-shadows are fancy */
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  }
  
  
  /*
    Rules can be combined on a block to apply the 'cascade' in order
    So you can use two classnames in a single class attribute
    like: <div class="box section">
  
    Rules may combine in unexpected ways - remember that the LAST thing written in this file will have "priority"
    And will be what displays in your client
  */
  
  .box {
    background-color: rgba(116, 181, 241, 0.4);
    border: 2px dashed;
    border-radius: 4px;
  
    width: fit-content;
    height:fit-content;
    padding: 1.5rem;
    margin: 0 auto;
  }
  
  .left_section {
    background-color: rgba(142, 243, 243, 0.8);
    flex: 0 1 auto;
    margin: 1rem;
    padding: 1.5rem;
  }
  
  .right_section {
    background-color: rgba(244, 218, 146, 0.7);
    flex: 1 2 auto;
    margin: 1rem;
    align-items: center;
    max-width: 450px;
  }
  
  /*
    This block is actually dependent on the "container" block having a flex set on it
    and the "wrapper" block displaying as a flex column with a "vertical height" (vh) of 100.
    That serves to cram the footer to the bottom of the page.
  */
  
  .footer {
    flex-shrink: 0;
    padding: 1rem;
    background-color: rgba(236, 242, 122, 0.8);
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .subtitle {
    color: rgba(0, 0, 0, 0.8);
    margin: 0px;
    margin-bottom: 5px;
  }
  
  
  /* Deploy this with images as direct "children" and the images should pop into shape */
  .grid {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    width: 350px;
    height: 350px;
    margin: 0 auto;
  }
  
  .grid img {
    width: 150px;
    height: 150px;
  }
  
  
  /* Carousel */
  div.carousel {
    max-width: 300px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  
  .carousel .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  
  .hidden {
    display: none;
  }
  
  .visible {
    display: block;
  }
  
  .carousel_item img {
    width: 150px; 
  }
  
  .prev,
  .next {
    border: none;
    margin: 2px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    height: 45px;
    padding: 10px;
    line-height: 0; 
    border: 2px solid rgb(4, 4, 4); 
  }
  
  .prev:focus,
  .next:focus {
    margin: 0;
    border: 2px solid rgb(16, 166, 212);
  }
  
  .prev:hover,
  .next:hover {
    background-color: hsla(194, 83%, 65%, 0.968);
    color: rgb(10, 10, 10);
    text-decoration: none;