html {
  background-color: #fff
}

em,
i {
  font-style: normal
}

button,
fieldset,
input,
label,
legend,
option,
select,
textarea {
  font-family: tahoma, verdana, arial, STHeiTi, simsun, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500
}

* {
  font-family: tahoma, verdana, arial, STHeiTi, simsun, sans-serif;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  outline: 0;
  -webkit-tap-highlight-color: transparent
}

a:focus {
  text-decoration: none !important
}

a:link {
  text-decoration: none !important
}

a:visited {
  text-decoration: none !important
}

a:hover {
  text-decoration: none !important
}

li {
  list-style-type: none
}

img {
  border: 0
}

body {
  margin: 0;
  padding: 0;
  background-color: none
}

div {
  display: block
}

a {
  cursor: pointer
}

a,
input {
  outline: 0
}

a:visited {
  text-decoration: none
}

a:active {
  color: #fff
}

span {
  color: #ccc
}

span:active {
  color: #fff
}

img {
  margin: 0
}

a,
p {
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: #999
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0
}

.HideFocus {
  outline: 0
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0
}

input[type=number] {
  -moz-appearance: textfield
}

button,
input,
select,
textarea {
  outline: 0
}

textarea {
  resize: none
}

@supports (padding:max(0px)) {
  .post {
    padding-left: max(12px, constant(safe-area-inset-left));
    padding-right: max(12px, constant(safe-area-inset-right))
  }
}

a[href]:not([class]) {
  color: #666;
  text-decoration: none
}

.fl {
  float: left
}

.fr {
  float: right
}

.tc {
  text-align: center
}

.tl {
  text-align: left
}

.tr {
  text-align: right
}

.fn-clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}

.cut_line {
  height: 1rem;
  border: .1rem solid #e4e4e4;
  background-color: #f5f5f5;
  display: block
}

.fixed_top {
  position: fixed;
  top: 0;
  display: block;
  width: 100%
}

.text_hide {
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}

.show {
  display: block !important
}

.hide {
  display: none
}

.btn-group {
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex
}

.btn-group .btn {
  flex-grow: 1;
  flex-shrink: 0;
}

.scroll {
  -webkit-overflow-scrolling: touch
}