
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



body {
    min-height: 100vh;
    /* background: linear-gradient(#aca5d4, #f5fdc2); */
    background-image: url('./img/cool-background-purple.png');
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

header {
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: black;
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 800;
    font-family: sans-serif;

}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: auto;
}