
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



body {
    min-height: 100vh;
    /* background: linear-gradient(#aca5d4, #f5fdc2); */
    background-image: url('./img/cool-background-purple.png');
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

header {
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: black;
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 800;
    font-family: sans-serif;

}

li {
    list-style: none;
    text-decoration: none;
}

h2 {
    margin-top: 50px;
    margin-left: 400px;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}


.banner-area {
    background-image: url(/img/tvshowbanner.jpg);
    background-size: cover;
    background-position: center;
    top: 100px;
    height: 500px;
}

div.img-carousel {
    background-color: rgba(239, 239, 239, 0.40);
    border: none;
    border-radius: 1rem;
    width: 848px;
    height: fit-content;
    padding: 1.5rem;
    margin: 0 auto;
}

img #tvshow-image {
    display: grid;
    border: 4px gray;
    border-radius: 3rem;

}


