body {
  color: #0042f9;    /* Dark gray */
  background-color: #14171edb;    /* Light gray */
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h1, h2 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;                              /* Add this */
}
