* {
    box-sizing: border-box;
  }
  
  /* 
    These rules apply to actual HTML elements with no labelling!
    So: they style the tags directly
  */
  
  html {
    background-color: #fff;
    font-size: 16px;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
  
    /* these are specific to different browsers */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
  
    font-family: 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans', 'Bitsream Vera Sans', 'Trebuchet MS', Verdana, 'Verdana Ref', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: #ffffff;
  }
  
  canvas { 
    display: block;
  }

  #myChart {
    margin-inline-start: 10px;
    margin-inline-end: 20px;
    box-shadow:
    1px -1px 1px lightgrey,
    2px -2px 1px lightgrey,
    3px -3px 1px lightgrey,
    4px -4px 1px lightgrey,
    5px -5px 1px lightgrey,
    6px -6px 1px lightgrey,
    7px -7px 1px lightgrey,
    8px -8px 1px lightgrey,
    9px -9px 1px lightgrey,
    10px -10px 1px lightgrey;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
  }
  
  h2, h3 {
    margin:0;
    padding:0;
    padding-bottom:1.5rem;
  }
  
  form {
    accent-color: hsla(20, 100%, 50%, 0.482);
  }
  
  /*
    - These styles use 'class names'
    - You can apply them by using the 'class' attribute on your HTML
    - like this: <div class="wrapper">
    - note that the period vanishes there!
  */
  
  
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
  }
  
  .container {
    margin: 0 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex:1;
  }
  
  .header {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
  }
  
  
  /*
    This rule implies that the H1 tag lives within another HTML tag
    It "inherits" some rules from the above
    Those rules won't apply to an h1 that's outside a block with the class of 'header'
  */
  
  .header h1 {
    display: block;
    /* this will push other blocks out of the way */
  
    /* colors */
    background-color: #ea912c;
    color: white;
  
    /* shapes */
    border-radius: 6px;
    font-size: 1.5rem;
    padding: 1.25rem;
    margin:0; /* removing the margin on h1 tags means the header pins to the top if we move */
  
  
    /* box-shadows are fancy */
    box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0), 0 0 0 1px rgb(10 10 10 / 2%);
  }
  
  
  
  .box {
    background-color: rgb(252, 136, 4);
    color: rgb(255, 255, 255);
    
    border-radius: 4px;
  
    max-width: 450px;
    height:fit-content;
    padding: 1.5rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .left_section {
    background-color: #bc6c25;
    flex: 0 1 auto;
    margin: 1rem;
    padding: 1.5rem;
  }
  
  .right_section {
    background-color: #606c38;
    flex: 1 2 auto;
    margin: 1rem;
    align-items: center;
    max-width: 450px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  
  .footer {
    color: #fefae0;
    
    flex-shrink: 0;
    padding: 1rem;
    background-color: #289618;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .footer a {
    color: rgba(255, 224, 138, 1);
    text-decoration: underline;
  }
  
  .footer a:hover {
    /* Hue, saturation, luminosity, alpha */
    background-color: hsla(0, 0%, 90%, 0.45);
    color: rgb(246, 169, 93);
    text-decoration: none;
  }
  
  .subtitle {
    color: rgba(0, 0, 0, 0.8);
    margin: 0px;
    margin-bottom: 5px;
  }
  
  
  .grid {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    width: 350px;
    height: 350px;
    margin: 0 auto;
  }
  
  .grid img {
    width: 150px;
    height: 150px;
  }
  
  
  /* Carousel */
  div.carousel {
    max-width: 300px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  
  .carousel .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  
  .hidden {
    display: none;
  }
  
  .visible {
    display: block;
  }
  
  .carousel_item img {
    width: 150px; 
  }
  
  .prev,
  .next {
    border: none;
    margin: 2px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    height: 45px;
    padding: 10px;
    line-height: 0; 
    border: 2px solid rgb(99,10,99); 
  }
  
  .prev:focus,
  .next:focus {
    margin: 0;
   
  }
  

  /*
  Form Styles
  */
  
  form input {
      
      width: 100%;
      width: -moz-available;          
      width: -webkit-fill-available;  
      width: fill-available;
  
      margin-bottom: 1rem;
      height: 2rem;
      border-radius: 4px;
    }
  
    form label {
      width: 100%;
      width: -moz-available;          
      width: -webkit-fill-available; 
      width: fill-available;
      align-items: flex-start;
  
      display: block; /* this turns the label text into a box we can set margins on */
      margin-bottom: 0.5rem;
    }
  
  /* How To Write A Media Query For Small Screens */
  
  @media only screen and (max-width: 736px){
      /* Rules in here will only apply when a screen is the correct size */
      /* check it out by using your developer tools to shrink your screen-size */
      .container {
        background-color: rgba(204, 8, 162, 0.65);
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }
  }
  
  .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ellipsis_hidden {
      display: hidden;
    }
    .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
