.circle{
    background: red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
  }

  .search-icon {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 14px;
  }

  .clear-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
    cursor: pointer;
    /* <!-- visibility: hidden; --> */
  }

  .search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
  }
/* hi */