#mapid {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
  }
  .list-header {
    font-weight: 600;
    font-size: 1.25rem;
  }
  #wrapper {
    min-width: 55vw;
  }
  .hero .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #488cd1;
    z-index: 9999;
  }
  .navbar-burger {
    color: rgb(71, 131, 241);
  }
  
  #navbarMenuHeroB {
    background-color: #4d96de;
  }
  
  .wrapper {
    display: block;
    margin: 0 auto;
  }

  .box {
    background-color: rgba(131, 203, 215, 0.4);
    border: 2px dashed;
    border-radius: 4px;
  
    width: fit-content;
    height:fit-content;
    padding: 1.5rem;
    margin: 0 auto;
  }
  .header {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
  }
  .container {
    margin: 0 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex:1;
  }
  .left_section {
    background-color: rgba(148, 243, 243, 0.8);
    flex: 0 1 auto;
    margin: 1rem;
    padding: 1.5rem;
  }