* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("./image.jpg");
    background-size: cover;
    background-color: rgb(180, 180, 180);
    min-height:100vh;
}

.head {
    max-height: 100px;
    align-items: flex-start;
    height: auto;
    width: 100%;
    background-color: rgb(105, 228, 224);
    border-radius: 4px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}
    
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    color:rgb(42, 105, 105);
    font-size: 250%;
    flex-wrap: wrap;
}

.link {
    display: flex;
    align-items: center;
}

.section-1 {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.box-1 {
    display: flex;
    align-items: center;
    background-color: rgb(105, 228, 224);
    height: 200px;
    max-height: 400px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow-wrap: normal;
    text-align: center;
    color:rgb(42, 105, 105)
}

.section-2 {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.box-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(105, 228, 224);
    height: 200px;
    max-height: 400px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow-wrap: normal;
    text-align: center;
    color:rgb(42, 105, 105)
}
