*{
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}

.main_body{
  padding: 50px;
  line-height: 1.5;
}
/* 
.container{
  display: flex;
} */

body {
  background-color: rgb(212, 212, 199);
}

h1 {
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

h6 {
  justify-content: center;
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

.left, .header {
  -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: black;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
}

/* Dashboard Navbar*/
.dashboard{
	width: 100%;
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* padding-top: 45px; */
	padding-left: 8%;
	padding-right: 8%;
  background-color: beige;
}
.logo{
	color: rgb(10, 10, 10);
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: beige;;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
}
nav ul li a{
	color: rgb(7, 7, 7);
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: beige;
	transition: .4s;
}

/* Logo image*/
img#logo  {
  width: 10%;
  height: 15%;
}

/* Dropdown Menu*/
nav.dropdown{
  text-align: center;
}

.menu {
  display: inline-block;
  z-index:1;
} 

.menu>li {
  float: left;
  width: 140px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}

li::marker {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sub-menu {
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}
.sub-menu li {
  font-size: 14px;
  background: rgba(212, 203, 203, 0.8);
  padding: 8px 0;
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}
.sub-menu li:last-child {
  border-bottom: 0;
}
.sub-menu li:hover {
  background: rgb(129, 128, 128);;
}
.menu>li:hover .sub-menu li {
  transform: scale(1);
}
.menu>li:hover .sub-menu {
  transform: scale(1);
}

/* Styling the images*/
/* img#image_1 {
  margin-right: auto;
  width: auto;
}

img#image_3 {
  margin-left: auto;
} */

/* Styling the button from the images*/
.container{
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  
}
.container img{
  max-width: 100%;
  width: 80%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  padding: 12px 47px;
  color: white;
  font-size: auto;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 20%;
  width: auto;
  
}

/* .container .button2 {
  position: absolute;
  top: 87%;
  left: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 47px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
} */

.btn:hover{
  background-color: beige;
}

.tv_film_selection {
  width: 100%;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
  flex-wrap: nowrap;
  text-align: center;
}
.visualization {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/* URL link*/
a {
	text-decoration:none;
  color: black;
}
@media only screen and (max-width: 700px) {
    
  .tv_film_selection {
    flex-wrap: wrap;
  }
  .visualization{
    width: 80%;
  }



}