* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: grey;
    height: 100vh;
}

.head {
    max-height: 100px;
    align-items: flex-start;
    height: auto;
    width: 100%;
    background-color: rgb(17, 237, 237);
    border-radius: 4px;
    padding: 10px;
    display: flex;
    justify-content: left;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}
    
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    color:rgb(42, 105, 105);
    font-size: 250%;
}

.link {
    display: flex;
    align-items: center;
}

#form {
    width: 120%;
    height: 130px;
    display: flex;
    /* flex-wrap: column; */
    flex-direction: column;
}
.form {
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
    
}
.field {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 30px;
}

#label1 {
    width: 50%;
    background-color: lightgrey;
}

#button3 {
    color: rgb(42, 105, 105);
    background-color: rgb(17, 237, 237);
}
