* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .title-container {
    padding-bottom: 20px;
  }

  .topnav a {
    font-size: 13px;
  }

  .page-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
  }

  .header-text {
    font-size: 20px;
    line-height: 36px;
  }

  .image-container {
    width: 200px;
    height: 400px;
    display: flex;
    align-items: flex-start;
  }

  .text-container {
    font-size: 35px;
    padding: 10px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .page-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;
  }
  
  .header-text {
    font-size: 30px;
    line-height: 46px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .title-container {
    padding-bottom: 100px;
  }
  
  .topnav a {
    font-size: 17px;
  }

  .page-title {
    font-weight: 700;
    font-size: 80px;
    line-height: 85px;
    padding: 10px;
  }

  .header-text {
    font-size: 30px;
    line-height: 46px;
  }

  .text-button-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
  }

  .image-container {
    width: 600;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: right;
  }

  .text-container {
    font-size: 25px;
    padding: 10px;
  }
}

img {
  border-radius: 100px;
  max-width: 70%;
  max-height: 50%;
  height: auto;
}

html {
  height: max-content;
}
body {
  background-color:#F2F0E4;
  height: 150vh;
}
a {
    display: flex;
    box-sizing: inherit;
    flex-direction: column;
    align-items: flex-end;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #3E4F36;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #000000;
    color: white;
  }

.container {
  padding-top: 40px;
  padding-left: 10x;
}

.text-button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
}

/*Adjusts the title so that it only takes up half of screen*/
.title-container {
  display: flex;
}
/* Handles styling for the page stylings - @media differences*/
.page-title {
  font-family: 'Times New Roman';
  font-style: normal;
}
.intro-container {
  display: flex;
  padding: 10px;
  align-items:flex-start;
  justify-content: center;
  flex-direction: row;
}
/*ensures subtitle and button are in column direction*/
.text-button-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
}
.header-text {
  padding-bottom: 50px;
  font-family: 'Times New Roman';
  font-style: italic;
  font-weight: 400;
  color: #000000;
}
.image-container {
  display: flex;
  align-items: flex-start;
  justify-content: right;
}

.text-container {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  line-height: 134.77%;
  padding: 10px;
}