* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  font-family: ‘ "Times New Roman", "Times" ’, ‘Segoe UI’, Candara,
    ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’,
    "Verdana", ‘Verdana Ref’, "sans-serif";
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}

div.head{
  display: flex;
  height: fit-content;
}
nav.navbar {
  margin: auto;
  position: relative;
  background-color: #73C2FB50;
  width:100%;
  display: flex;
}
ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

li {
 padding: 0px 10px;
}

li a {
  display: flex;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #73C2FB;
}
 img.logo{
   width: 96px;
   height: 96px;
 }
