* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(180,180,180);
    height: 110vh;
}

.head {
    max-height: 100px;
    align-items: flex-start;
    height: auto;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    justify-content: left;
    background-color: rgb(105, 228, 224);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}
    
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    color:rgb(42, 105, 105);  
    font-size: 250%;  
}

.link {
    display: flex;
    align-items: center;
}

#form {
    width: 130%;
    height: auto;
    display: flex;
    flex-wrap: column;
    flex-direction: column;
    margin-top: 60px;
}

.form {
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

.field {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 30px;
}

#label, #label, #label1, #label2, #label3, #label4, #label5 {
    width: 50%;
    background-color: lightgrey;
}

#label6 {
    width: 57%;
    background-color: lightgrey;
}

#button2 {
    color: rgb(42, 105, 105);
    background-color: rgb(105, 228, 224);
}
