/* Favorites Page */

body {
    background-color: #FFD5A4;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-items: end;
    position: relative;
}