/* Make navbar appear on the bottom */
.navbar-container {
    display: flex;
    width: 100vw;
    bottom: 0px;
    position: fixed;
    justify-content: center;
    background-color: #EB4949;
    padding: 20px 0px;
    z-index: 9;
}
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    font-size: 12px;
}
.navbar-elm {
    margin: 10px 2vw;
    text-decoration: none;
    padding: 15px 0px;
    border-radius: 30px;
    background-color: #F6FFC2;
    color: #EB4949;
    width: 130px;
    text-align: center;
    transition: .5s;
    overflow: wrap;
    font-weight: 600;
    border: 1px solid #EB4949;
}

.navbar-elm:hover {
    background-color: #EB4949;
    color: #F6FFC2
}

/* Navbar section end*/


@media only screen and (min-width: 960px) {
    .navbar-container {
        top: 0px;
        position: relative;
        background-color: #FFD66C !important;
    }
    .navbar {
        grid-template-columns: repeat(4, 1fr);
        font-size: 15px;
    }
    .navbar-elm{
        width: 150px;
    }
}