<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title><%= university_name %> - INST377 Group 25</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1>INST 377 Team 25</h1>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="/">Home</a>
          <a class="navbar-item" href="/about.html">About Us</a>
        </div>
      </div>
    </nav>
    <div class="sub-bar">
        <a href="./">&larr; Return</a>
    </div>

    <!-- University Review Container -->
    <div class="columns is-centered is-desktop m-5">
      <div class="column is-5">
        <!-- Header -->
        <h1 class="title has-text-centered">University Feedback</h1>

        <!-- Input Form -->
        <form class="box has-background-primary" method="" action="" onsubmit="return false;">
          <div class="field">
            <label class="label">University Name</label>
            <div class="control">
              <input name="university_name" class="input" type="text" disabled value="<%= university_name %>">
            </div>
          </div>
          <div class="field">
            <label class="label">Rating</label>
            <div class="control">
              <label class="radio">
                <input type="radio" value="1" name="university_rating">
                1 Star
              </label>
              <label class="radio">
                <input type="radio" value="2" name="university_rating">
                2 Star
              </label>
              <label class="radio">
                <input type="radio" value="3" name="university_rating">
                3 Star
              </label>
              <label class="radio">
                <input type="radio" value="4" name="university_rating">
                4 Star
              </label>
              <label class="radio">
                <input type="radio" value="5" name="university_rating">
                5 Star
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label">Comments</label>
            <div class="control">
              <textarea class="textarea" placeholder="Tell us about your experience here" id="review"></textarea>
            </div>
          </div>
          <div class="field">
            <label class="label">Graduation Year</label>
            <div class="control">
              <input name="graduation_year" class="input" type="text" value="2021" id="graduation_year">
            </div>
          </div>
        </form>

        <!-- Review Submit -->
        <a class="button is-primary" href="#" id="submit">Submit Review</a>
      </div>
    </div>

    <!-- Page Footer -->
    <footer class="footer p-3">
      <div class="content has-text-centered">
        <p>
          &copy; <%= new Intl.DateTimeFormat('en-US', { year: 'numeric'}).format(new Date()) %> INST 377 Team 25
        </p>
      </div>
    </footer>

    <script>
      document.querySelector("#submit").onclick = (e) => {
        e.preventDefault();
        e.stopPropagation();

        if (!document.querySelector("input[name='university_rating']:checked")) {
          return false;
        }

        fetch("/api/schools/4/review", {
          method: "POST",
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            rank_id: <%= rank_id %>,
            rating: document.querySelector("input[name='university_rating']:checked").value,
            review: document.querySelector("#review").value,
            graduation_year: document.querySelector("#graduation_year").value
          })
        }).then(d => {
          window.location.href = "./";
        });
      };
    </script>
  </body>
</html>
