@media screen and (min-width: 990px) {
    .viinyl-navigation{
        padding: 25px  175px 25px 175px;
    }
}

html, body {
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
}

.navbar{
    border-radius: 10px;
}

.subtitle{
    display: flex;
    justify-content: space-between;
    padding-left: 135px;
}

.vinyl-grid{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    margin: 1px;
}

img:hover{
    backdrop-filter: blur(3px);
    filter: blur(2px);
    transition: 0.1s ease-out;
    border-radius: 10px;
}
img{
    border-radius: 10px;
}

.modal-wrap {
    position: fixed;
    width: 650px;
    background: white;
    top: 20%;
    border-radius: 10px;
}

.graphs{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
