.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home, .imgz {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 40px;
    top: 25px;
    cursor: pointer;
}

.logo_title{
    display: flex;
    flex-direction: row;
}
.title_name {
    display: flex;
    position: absolute;
    width: 568px;
    height: 117px;
    left: 640px;
    top: 30px;
}

.logos {
    display: flex;
    position: absolute;
    left: 530px;
    top: 27px;
}


.container {
    display: flex;
    justify-content: flex-start;
    padding-top: 150px;
    gap: 100px;
}


.about {
    position: absolute;
    width: 156px;
    height: 47px;
    left: 1210px;
    top: 85px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 47px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

.data {
    position: absolute;
    width: 156px;
    height: 47px;
    left: 1274px;
    top: 85px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 47px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
}

.location {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
    text-decoration-line: underline;
}

.pages {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #FF4747;
    width: 350px;
    height: 300px;
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    text-decoration: none;
}

.image {
    padding-top: 40px;
}

.dinning {
    position: absolute;
    left: 130px;
    top: 617px;
}

.feed {
    position: absolute;
    width: 305px;
    height: 44px;
    left: 70px;
    top: 770px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    text-align: center;

    color: #000000;
}

.chart {
    display: flex;
    background-color: #FF4747;
    height: 500px;
    width: 700px;
    align-self: center;
    margin-top: 130px;
}

.columns {
	display: flex;
	background-color: #979797;
	min-width: 0;
	font-family: 'Roboto';
	font-weight: 600;
    font-size: 20px;
	text-align: center;
}

.north_schedule {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}
.weekdays {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    padding-left: 20px;
}

.weekdays, h4 {
    width: 90px;
    height: 100px;
    background-color: #C4C4C4;
}
