/* D3.js
================================================================ */
.query {
    display: block;
    position: relative;
    max-width: 323px;
    height: 337px;
    
    border: 2px solid #66516E;
    box-shadow: inset 0px 1px 2px #66516E;
    border-radius: 4px;
    overflow: scroll;  
  }
  
  svg {
  
    margin: .4rem;
    border: #fff;
    border-radius: 24px;
    background-color: #fff;
    overflow: visible;
  }
  
  .node circle {
    fill: #fff;
    stroke: #66516E;
    stroke-width: 3px;
  }
  
  .node image {
    opacity: 0;
  
    border: 1px solid #000;
    border-radius: 4px;
  }
  
  .node:hover image {
    height: auto;
    width: 250px;
    z-index: 10;
    opacity: 1; 
  
  
  }
  
  .node.node--internal text { 
    color: #DBAEEC;
    opacity: 1;
  }
  
  .node.node--internal circle { 
    r: 4px;
  }
  
  .node.node--internal:hover text {
    color: black;
    opacity: 1;
    z-index: 999; /* wont work until positioned */
  }
  
  .node.node--leaf text, .node.node--internal-root text {
    color: red;
    opacity: 1;
  }
  
  /* select the image within every other g */
  /* TODO:
  - figure out why odd is working and even is not */
  
  .node.node--internal:nth-child(odd):hover image {
    x: 0;
  }
  
  .node.node--internal:nth-child(even):hover image {
    x: 0;
  }
  
  
  .link {
    fill: none;
    stroke: #DBAEEC;
    stroke-width: 2px;
  }
  
  
  g image {
    /* relative to the node */
  
    position: absolute;
    top: 0;
    height: auto;
    width: 40px;
  
    border-radius: 4px;
  }
  
  
  .delete {
    background-color: maroon;
    color: #fff;
  }
  
  .result-container {
  
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  
  
  @media screen and (min-width: 900px){
    .result-container {
  
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  
  }
  
    .query {
        height: 1000px;
        max-width: none;
        width: 100%;
  
        display: flex;
        justify-content: center;
        margin-top: 24px;
        overflow: auto;
    } 
  
    svg {
      margin: .4rem;
      border: #fff;
      border-radius: 24px;
      background-color: #fff;
      overflow: visible;
    }
  
    .node {
      width: 32px;
    }
  
    g {
      width: 16px;
      height: 16px;
      border: solid 1px #000;
    }
  
    /* .p_node {
      display: block;
      opacity: 1;
      width: 100%;
    } */
  
    .node circle {
      fill: #fff;
      stroke: #66516E;
      stroke-width: 3px;
    }
  
    .node image {
      opacity: 0;
  
      border: 1px solid #000;
      border-radius: 4px;
    }
  
    .node:hover image {
      height: auto;
      width: 250px;
      z-index: 10;
      opacity: 1; 
  
  
    }
  
    .node.node--internal text { 
      color: #DBAEEC;
      opacity: 1;
    }
  
    .node.node--internal circle { 
      r: 4px;
    }
  
    .node.node--internal:hover text {
      color: black;
      opacity: 1;
      z-index: 999; /* wont work until positioned */
    }
  
    .node.node--leaf text, .node.node--internal-root text {
      color: red;
      opacity: 1;
    }
  
    /* select the image within every other g */
  
    .node.node--internal-root:hover image {
      y: 10%;
      x: -10%;
    }
  
    .node.node--internal:nth-child(odd):hover image {
      x: -30%;
    }
  
    .node.node--internal:nth-child(even):hover image {
      x: 10%;
    }
  
  
    .link {
      fill: none;
      stroke: #DBAEEC;
      stroke-width: 2px;
    }
  
  
  
    .delete {
      background-color: maroon;
      color: #fff;
    }
  
  
  }
  
  