*{

}
html {
    background-image: url('../images/p3949664573-6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 100vh;
    overflow: hidden;

}
body{
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.4)
}
.navi{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E03A3E;
    height: 50px;
    color: white;
    
    

}
.navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    
  }
.navi ul li{
    display: inline;
    color: white;
    list-style: none;
    

}
.navi a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    
}
.navi p{
    font-size: 15pt;

}
.wrapper{
    overflow: scroll;
}
.text_block{
    background-color: white;
    display: table;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    max-width: 700px;
}
.text_block h1, h3{
    text-align: center;
}
.text_block p{
    font-size: 15pt;
    text-overflow: clip;
}
