.contain {
  margin: 10px auto; 
  max-height: 650px; 
  flex-wrap: wrap;
}

.wrap {
  height: 600px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.onething {
  min-height: 350px;
  max-height: 500px;
  flex: 1;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px 20px 10px;
}

.twothing {
  min-height: 350px;
  max-height: 500px;
  flex: 3;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px 20px 10px;
}

.redthing {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: red;
  margin: 10px;
}

.bluething {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: blue;
  margin: 10px;
}

.inner_header {
  min-width: 90%;
  font-size: 36px;
  text-align: center;
  color: white;
}

.inner_header2 {
  min-width: 90%;
  font-size: 36px;
  text-align: center;
  color: white;
}

.form-r {
  display: flex;
  flex: 4;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10px;
  min-height: 300px;
  width: 70%;
  background-color: rgb(209, 209, 209);
  padding: 20px;
}

.meal_list {
  margin: 10px;
  height: fit-content;
  max-height: 450px;
  min-width: 90%;
  font-size: 20px;
  background-color: rgb(209, 209, 209);
  color: black;
  flex-wrap: wrap;
  display: flex;
  align-content: flex-start;
  padding: 10px;
}
.meal_list ul {
  max-height: 300px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.meal_list li  {
  margin: 1.5px;
  font-size: 15px;
  width: 200px;
  display: flex;
  align-self: center;
  color: rgb(127, 22, 22);
}


.each_option {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.check_label {
  font-size: 15px;
}

#submit_button {
  color: #FFF;
  background-color: rgb(164, 44, 44);
  padding: 10px 20px;
  border: none;
  width: 125px;
  border-radius: 4px;
  margin: 10px;
  font-size: 20px;
  justify-self: center;
}

#submit_button:hover {
  background-color: rgb(223, 223, 26);
}