
.button_wrap{ /*For centering the buttons*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 100vh;
    margin-top: 100px;
    margin-left: -100px;
    
    
    
}
.diner_wrap{
    flex-direction: column;
    max-width: 12%;
}
.accordion { /*Top part of the accordion*/
    background-color: rgb(255, 255, 255);
    
    color: rgb(0, 0, 0);
    padding: 18px;
    width: 35%;
    margin-top: 35px;
    font-weight: bold;
    font-size: .6cm;
    cursor: pointer;
    transition: 0.2s;
    max-height: 80px;
    min-width: 30vh;
    overflow: hidden;
}
  
.active, .accordion:hover { /*Changing color when hovering*/
    background-color: #ccc;
}
  
.dropdown { /*Styles the dropped panel*/
    display: none;
    margin-top: 50px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    max-height: 70vh;
    transition: 10s;
    width: 25em;
}
