html {
    height: 100%;
}

body {
    background: #000000;   
    height: 100%;
}

.container {
    max-width: 960px;
    background: #000000; 
    height: 100%;
}

h2.subtitle {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

h1.title {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}


div.image-container {
    display: flex;
    justify-content: center;
}

div.image-container img {
    margin-left: 15px;
    margin-right: 15px;
    max-width: 100%;
    max-height: 150px;
}