* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
      ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    background-color: rgb(106, 129, 138);
  
    height: 100vh;
  }
  
  /* Page Layout */
  .columns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap:40px;
    
  }
  
  .wrapper {
    display: warp;
  }
  .container {
    max-width: 960px;
    margin-top: 25px;
    display: warp;
  }
  
  