*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none; /*?*/
    color: rgba(255, 255, 255, 0.911); /*?*/
}

#title{
    /* LITERATURE & ART CORNER DATABASE */
    font-size: 36px;
    line-height: 76px;
    align-items: center;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    color: black;
}

#goto{
    /* Go to home site */
    font-size: 18px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: underline;
}

.header img{
    display: block;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: rgb(136, 5, 12);
    padding: 0 25px; /*?*/
    margin: auto;
}

.inner_nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-elements{
    display: flex;
    justify-content: space-around; /*space on left and right*/
    width: 450px; /*customize for desktop and mobile*/
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
}

.nav-elements>a{
    color: rgba(255, 255, 255, 0.911);
    letter-spacing: 1.5px;
}






/* for header and nav */
/* ul{ 
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
    justify-content: space-between;
}


li{  
    display: inline;
    text-align: center;
    flex: 1;
} */
