*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none; /*?*/
    /* color: rgba(255, 255, 255, 0.911);  */
}

#title{
    /* LITERATURE & ART CORNER DATABASE */
    font-size: 36px;
    line-height: 76px;
    align-items: center;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    color: black;
}

#goto{
    /* Go to home site */
    font-size: 18px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: underline;
}

.inner-header img{
    display: block;
    align-items: center;
    padding: 20px;
    border: 2px;
    margin: 3px;
}

.nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: rgb(199, 48, 56);
    padding: 0 25px; /*?*/
    margin: auto;
}

.inner-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-elements{
    display: flex;
    justify-content: space-around; /*space on left and right*/
    width: 450px; /*customize for desktop and mobile*/
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
}

.nav-elements>a{
    color: rgba(255, 255, 255, 0.911);
    letter-spacing: 1.5px;
    padding: 10px;
    border: 10px;
}

.filter-menu{
    margin:30px; /*margin collapses vertically*/
    font: black;
    font-size: 21px;
    outline: 2px;
    
}

.main-container{
    margin-top: 60px;
    padding: 25px;
}

.main-container .content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;   
}


.main-container .content .item-wrap{
    width: 50%;
    padding: 10px;
}


.main-container .content .item-wrap .item{
    padding: 25px;
    background: #fff;
    line-height: 22px;
}

@media (max-width: 992px){
    .header{
        height: 100px;
        padding: 12px;
    }
    .header .inner-header{
        flex-direction: column;
    }
    .main-container{
        margin-top: 100px;
    }
}
@media (max-width: 728px){
    .header{
        height: 60px;
    }
    .header .inner-header{
        flex-direction: row;
    }
    .main-container{
        margin-top: 60px;
    }
    /* .header .menu ul{
        position: absolute;
        top: 60px;
        left: 0;
        display: block;
        background: rgb(136, 5, 12);
        width: 100%;
    }
    .nav .menu ul li{
        padding: 10px;
    }
    .nav .menu ul li a{
        width: 100%;
        padding: 12px; */
    }
    .header .toggle{
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        transition: all 0.25s ease;
    }
    .header .toggle:hover{
        color: rgb(121, 120, 119);
    }
    /* .header .nav-elements{ makes inner-nav disappear
        display: none;
    } */
    
    .header .nav-elements.active{
        display: block;
    }
    .main-container .content .item-wrap{
        width: 100%;
    }
}






/* for header and nav */
/* ul{ 
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
    justify-content: space-between;
}


li{  
    display: inline;
    text-align: center;
    flex: 1;
} */
