.header img{
    display: block;
    align-items: center;
  }

  /*  */
ul{   /* for header and nav */
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
    justify-content: space-between;
}

li{  /* for header and nav */
    display: inline;
    text-align: center;
    flex: 1;
}

#title{
    /* LITERATURE & ART CORNER DATABASE */
    font-family: NATS;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 76px;
    /* identical to box height */
    align-items: center;
    text-transform: capitalize;

    color: #000000;
}

#goto{
    /* Go to home site */
    font-family: NATS;
    font-size: 18px;
    line-height: 38px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #000000;


}

.nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: rgb(136, 5, 12);
    padding: 0 25px;
    margin: auto;
}


.inner_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-elements{
    display: flex;
    justify-content: space-around; /*space on left and right*/
    width: 450px; /*customize for desktop and mobile*/
    align-items: center;
}