.column {
    float: left;
    width: 20%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  body
  {
  background: #000000; 
  height: 100%;
  }

.content{
  height: 100%;
  }
.bar{
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 960px;
}
.content img {
  height: 300px;
  width: 300px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.content h2 {
  padding-bottom: 0px;
}

.trending {
  padding-top: 0px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.table {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.table th {
  background-color:#78c2ce;
}

.subtitle {
  text-align: center;
  padding-bottom: 0px;
}

form {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.price{
  text-align: center;
}

  