html, body {
  margin: 0;
  background: #1db954;
}

span {
  color: #1db954;
}

#search {
  width: 350px;
}
  
h1, h2{
  display: flex;
  justify-content: center;
  color: #000000;
}

p {
  background-color: rgb(54, 54, 54);
  padding-left: 10px;
  padding-right: 10px;
  color:lightgray;
}

p:first-child {
  padding-top: 10px;
}

p:last-child {
  padding-bottom: 10px;
}

li {
  display:block;
  margin: 15px 0;
  border-width: 5px;
  max-width: 600px;
  text-align: center;
  gap: 52px;
  background-color: #1db954;
}

.container{
  display: flex;
  justify-content: center;
  max-width: 400px;
  gap: 52px;
}

#filters {
  max-width: 400px;
  padding-bottom: 10px;
}

text {
  padding: 0px;
}

.progress {
  position: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  top: 75%;
  left: 60%;
  max-width: 355px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.flex-outer{
  justify-content: center;
  list-style-type: none;
  padding: 0;
  max-width: 1100px;
  margin: 5% 2.5%;
}

.button {
  justify-content: center;
}

.button:hover, .button:focus {
  background: #6eda94;
}

.invisible {
  display:none;
}

#resultlistcontainer {
  margin-top: 20px;
}

#resultlist {
  max-width: 600px;
}

.userform, #filters {
  background-color: rgb(54, 54, 54);
}