#search {
    width: 500px;
}

body {
    background: lightgreen;
   
  }
  
  h1, h2{
    display: flex;
    justify-content: center;
    color: #000000;
  }

div, .container{
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    max-width: 400px;
    gap: 50px;
  }