html{
    background-color: rgb(250, 217, 32); 

}

h1 {
    text-decoration: rgb(88, 81, 81);
    padding: 10px;
}

.container {
    width:100%;
    height:100%;
}

ul, li {
    margin: 0 auto;
    padding: 8px;
}

table, th, td {
    border: 1px solid black;
    margin: 0 auto;
    padding:20px;
}
.button {
    align-self:auto;
    padding: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.sidenav {
  height: 100%; 
  width: 300px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: rgb(250, 217, 32); 
  overflow-x: hidden; 
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #050505;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 330px; 
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
