body { 
    padding-bottom: 50px;
}

.center { 
    text-align: center;
}

.navbar-menu {
    padding-inline: 50px;
}

.button {
    margin-block: 10px;
}

#homebutton1, #homebutton2 { 
    display: inline-block;

}

#homebutton1 { 
    padding-top: 80px;
    padding-left: 400px;
}

#homebutton2 { 
    padding-left: 80px;
}