div.columns {
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
}

div.rows{
    display: flex;
    flex-direction: column;
}

h1.column.title.has-text-centered.is-size-1 {
    background-color: grey;
    color: black;
}

div.column.is-two-thirds, div.column.is-one-fifth{
    background-color: grey;
}

p.menu-label {
    color: black;
    font-weight: bold;
    font-size: x-large;
}

a.categorical {
    color: black;
    font-weight: bold;
    font-size: large;
}

.filters input {
    width: 200px;
}

a.create-listing {
    color: black;
    font-weight: bold;
    font-size: large;
}

a.contact-us {
    color: black;
    font-weight: bold;
    font-size: large;
}

a.about {
    color: black;
    font-weight: bold;
    font-size: large;
}

label.label.search {
    color: black;
    font-weight: bold;
}

h1.thicker{
    font-family: 'Big Shoulders Display', cursive;
    color: #2a2a2a;
}

p.thick, input, li{
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
}

body > * {
    padding: 1%;
  }
