/* Jacob Walter 
Lab 12 */

body {
    background-color: white;
}
/* time_line{
    height: 100vh;
} */
.buttons {

}
.buttons a {
    text-decoration: none;
    color: white;
}

/* .tl-slider-container-mask {
    background-color: #f08080 ;
} */

/* .tl-timenav{
    background-color: yellow;
} */

/* .tl-timemarker-timespan{
 chamges bottom part of timeline under name of each element in timeline
} */
/* .tl-timemarker-media-container {
    background-color: blueviolet;
} */

.tl-timeaxis-tick:before {
    background-color:#c9483e;
}
.tl-menubar{
    background-color:blue;
}

/* .description {
    position: absolute;
    width: auto;
    height: 350px;
    left: auto;
    
    background:skyblue;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
} */

/* .contact {
    position: absolute;
    width: 172px;
    height: 80px;
    left: 222px;
    top: 500px;
    background: #EDAAA5;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
} */

<<<<<<< HEAD
.card{
    width: 300px;
    padding-bottom: 30px;
}

.card-image img{
    height: 450px;
}
.row{
    display: flex;
    justify-content: space-around;

}

=======
/*
////////////////////////////
/ Objective & Tech Specs /
////////////////////////////
*/
@media only screen and (max-width: 918px){
    .top-headings{
        display: flex;
        flex-wrap: wrap;
        margin: 2%;
    }
    
    .tech-specs-section{
        display: flex;
        flex-direction: column;
        margin: 2%;
    }

    .tech-specs{
        display: flex;
        flex-direction: row;
        margin-left: 2%;
        margin-right: 2%;
        flex-wrap: wrap;
    }

    .front-end, .back-end {
        margin: 2%;
        display: flex;
        flex-direction: column;
    }
    
    .objective{
        margin: 2%;
        font-size: x-large;
        background-color: #002642;
    }
}

@media only screen and (min-width: 919px){
    .top-headings{
        display: flex;
        margin: 2%;
    }
    
    .tech-specs-section{
        display: flex;
        flex-direction: column;
        margin: 2%;
    }
    
    .tech-specs{
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        margin-right: 2%;
        flex-wrap: wrap;
    }

    .front-end, .back-end {
        margin: 2%;
        display: flex;
        flex-direction: column;
    }

    .objective{
        margin: 2%;
        font-size: x-large;
    }
}


/*
////////////
/ OUR TEAM /
////////////
*/

>>>>>>> 7351bad620b69b67888514eb4c13d467487cb297
.gh{
    height: 80px;
    width: 40px;
}

.gh:hover{
    height: 80px;
    width: 80px;
}

.li{
    height: 80px;
    width: 80px;
}

.li:hover{
    height: 80px;
    width: 120px;
}

.links{
<<<<<<< HEAD
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}
=======
    position: relative;
    margin-bottom: auto;
    display: flex;
    justify-content: space-around;
    align-content: bottom;
}

.team{
    display: flex;
    flex-wrap: wrap;
}


@media only screen and (max-width: 750px){
    .card {
        padding: 2%;
        margin: 4%;
        flex-grow: 1;
        flex-basis: 88%;
        
        display: flex;
        flex-direction: column;
        }

    .card img{
        max-width: 100%;
    }

    .content{
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media only screen and (min-width: 751px){
    .card {
        padding: 2%;
        margin: 4%;
        flex-grow: 1;
        flex-basis: 38%;
      
        display: flex;
        flex-direction: column;
      }

    .card img{
        max-width: 100%;
    }
    
    .content{
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media only screen and (min-width: 1201px){
    .card {
        padding: 2%;
        margin: 4%;
        flex-grow: 1;
        flex-basis: 24.33%;
        
        display: flex;
        flex-direction: column;
        }

    .card img{
        max-width: 100%;
    }

    .content{
        margin-top: auto;
        margin-bottom: auto;
    }
}
.has-background-independence{
    background-color: #414361;
}

.has-background-shadow-blue{
    background-color: #8499b1;
}

.has-background-space-cadet{
    background-color: #2A2D43;
}

.has-background-amaranth-red{
    background-color: #D72638;
}

.has-background-shimmering-blush {
    background-color: #ffd4ca;
>>>>>>> 7351bad620b69b67888514eb4c13d467487cb297
