.max-width-nav {
    max-width: 700px;
}

body{
    min-height: 100%;
    background-color: rgb(68, 68, 68);
}

@media only screen and (min-width:360px) {

    a{
        text-decoration: none;
        color: white;
    }
    
    a:visited{
        color: white;
    }
    
    .container{
    text-align: center;
    
    }
    
    .teams{
        border-bottom-left-radius: 13px;
        border-top-left-radius: 13px;
    
    }
    
    .games{
        border-bottom-right-radius: 13px;
        border-top-right-radius: 13px;
    }

    
    .btn-group button{
        margin-top: 20px;
        font-size: 10px;
        color: white;
        background-color: #212529;
        padding: 10px 20px;
        cursor: pointer;
        float: left;
    }

    .btn-group button:hover{
        background-color: rgb(143, 133, 133);
    }

    .arena-pic{
        margin-top: 20px;
        max-width: 100%;
    }

    .quote{
        color: white;
        font-size: 10px;
        font: bold;
        margin-top: 10px; 
    }

    .nba-logo{
        width: 60px;
    }

        .logo{
            color: white;
            margin-top: 25px;
            font-size: 12px;
            margin-top: 60px;
        }

        .logo p{
            margin-bottom: 0;
        }
    
}

@media only screen and (min-width:760px) {

a{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}

.container{
text-align: center;

}

.teams{
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;

}

.games{
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
}

.btn-group button{
    margin-top: 20px;
    font-size: 18px;
    color: white;
    background-color: #212529;
    padding: 25px 60px;
    cursor: pointer;
    float: left;
}

.btn-group button:hover{
    background-color: rgb(143, 133, 133);
}

.arena-pic{
    margin-top: 20px;
    max-width: 100%;
}

.quote{
    color: white;
    font-size: 20px;
    font: bold;
    margin-top: 10px;
    
}

.nba-logo{
    width: 60px;
}

.logo{
    color: white;
    margin-top: 0;
    font-size: 20px;

}

.logo p{
    margin-bottom: 0;
}

}



