
  .photo-grid-container {
    display: flex;
    justify-content: center;
  }
  .carousel{
      overflow: hidden;
      max-width: 1000px;
      position:relative;
      
  }
  
  .carousel .carousel_item,
  .carousel .carousel_item--hidden{
      display: none;
  }

  .carousel carousel_item img{
      width: 100%;
      max-width: 600px;
  }

  .carousel .carousel_item--visible{
      display: flex;
      animation:fadeVisibility 0.5s;
      
  }
  .carousel .carousel_actions{
      display: flex;
      justify-content: space-between;
      position: absolute;
      top:50%;
      transform:translateY(-50%);
      
  }

  .carousel .carousel_actions button{
      border-radius:50px;
      border:0;
      font-weight: bold;
      cursor:pointer;
      width: 200px;
      height: 40px;
  }
  .carousel .carousel_actions button{
    margin: 0 20px;
  }

#carousel_button--prev{
  background-color: rgb(228, 134, 80);
  border-radius:10px;
  border-width: 3px;
  border-color: green;
  font-weight: bold;
  cursor:pointer;
  width: 70px;
  height: 30px;
  position:relative;
  top:42%;
  
}


#carousel_button--next{
  background-color: rgb(223, 219, 219);
  border-radius:10px;
  border:0;
  font-weight: bold;
  cursor:pointer;
  width: 70px;
  height: 30px;
  position:relative;
  top:42%;
}


   .photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;  

  }
  .first-item {
    order: 1;
  }
  
  .last-item {
    order: -1;
  }
  .photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
  } 
  .social,
    .subscribe {
  align-self: flex-end;
  margin-bottom: 20px;
}
.footer {
    display: flex;
    justify-content: space-between;
  }
  
.footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
  }
.footer-three {
    flex: 2;
  }
.footer-one,
.footer-three {
    background-color: #5995DA;
    flex: initial;
    width: 300px;
  } 
  .signup {
    margin-left: auto;
  }
 /* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
      background-color: #F09A9D; /* Red */
    }
  }
  

  @keyframes fadeVisibility {
    0%{
      opacticy:0;
    }
    100%{
      opacity:1;
      transform: opacity linear;
    }
  }