<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo a Page Send</title>
</head>
<body>
    Hello world! This is an HTML sub-page sent by touching an api route.
    <ul>
        <li>Different than a main page because the <em>filename</em> is not the same as the <em>route</em> name</li>
        <li>Look at the address bar to find our "route"</li>
        <li>Check out /server/templates/demo.html to find our "filename"</li>
    </ul>
</body>
</html>