h1 {
    font-size: 80px;
    text-align: center;
}

.h2 {
    color: white;
}
.title {
    color: white;
    text-align: center;
}

.subtitle {
    color: white;
    text-align: center;
}

nav {
    margin-top: 20px;
    width: auto;  
    margin-left: 25px; 
    margin-right: 25px; 
}

.navbar-item {
    color: white;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.subcategory {
    color: black;
}




/* || main layout */
.box, .button {
    align-content: center;
}
  

.container {
    display: flex;
}

.box {
    float: left;
    padding: 20px;
    border: 2px white;
}  

#bookTitle {
    margin-top: 20px;
    text-align: center;
}

#bookTitle img {
    max-height: 234px;
    max-width: 155px;
  }

#bookTitle, #delCheck {
    color:white;
}

form .box {
    width: 100%;
}

.box li {
    text-align: center;
}

.box li input {
    width: 100%;
}

h1 {
    font-family: 'Lemonada';
    color: #2a2a2a;
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 10px black;
    font-weight: 100;
  }

  .back {
    font-size: 17px;
    background-color: white;
  }
#mainContainer {
    background-color: rgb(98, 0, 255);
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}
.label{
    color: white;
    text-align: center;
}
hr {
    color: white;
    height: 1px;
}
img {
    max-height: 468px;
    max-width: 310px;
  }
button{
    background-color: transparent;
    padding: 0 0;
}
#cancelButton{
    background-color: white;
}
