
@media only screen and (min-width: 760px) {

    
.arena-image{
    margin-top: 10px;
    display: none;
  }

  .arena-image img {
      width: 1000px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

}