* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Acme';
}
/* Have to figure out how to change the hover color */
.body{
    display: flex;
    justify-content: center;
}
.navColor a:hover {
    color: #24D495;
}

.top-100-movie-list {
    margin-top: 200px;
    justify-content: left;
}

.movie-card {
    margin-top: 0px;
    display: flex;
    justify-content: left;
    width: 100%;
    background: #efefef;
    padding: 1.5em;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 1px solid silver;
}
.movie {
    margin-top: 20px;
    width: 50%;
    min-width: 50%;
}
.movie img {
    width: 100%;
    overflow: hidden;
    margin: 0px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px #868080;

}
.movie-name {
    font-size: 30px;
    text-align: left;
    font-weight: 600;
}

* {
    font-family: inherit;
 }

.movie-rating {
    background-color: red;
    position: absolute;
    z-index: 1;
    left: 40%;
    font-size: 25px;
    color: #fff;
    padding: 2px 20px;
    border-radius: 40px;
    line-height: normal;
    margin-top: 35px;
}

.circle{
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-width: 3px;
    border: thin solid #ffd712;
    text-align: center;
    z-index: 20;
    position: absolute;
    margin-top: 20px;
    right: 5%;
    background: rgb(255 168 12);
    background: linear-gradient(
    90deg, #ff9800 0%, #ffeb3b 50%, rgb(241 178 0) 100%);
}

#circleNum {
    justify-content: center;
    padding: inherit;
    font-size: 30px;
    font-weight: 600;
    line-height: 55px;  
}

.movie-description {
    padding: 2.5em;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
}

@media(max-width:767px){
    .movie-card {
    margin-top: 0px;
    display: block;
    }
    .movie {
    margin-top: 20px;
    width: 100%;
    min-width: 100%;
    }
    .circle {
    margin-top: 60px;
    right: 9%;
    }
    .movie-card {
    position: relative;
    }
    .movie-rating {
    left: 10%;
    margin-top: 35px;
    top: 30px;
    }
}
.navigation-auto{
    display:none;
}
.slider{
    width: 100%;
    max-height: 80vh;
    height: inherit;
    border-radius: 0px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: inherit;
    display: flex;

}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 100%;
    height: inherit;
    object-fit: fill;
    
}
/*css for manual navigation slides*/

.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid whitesmoke;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: whitesmoke;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

/*css for automatic slides*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 360px;
}
.navigation-auto div{
    border: 2px solid whitesmoke;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: whitesmoke;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: whitesmoke;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: whitesmoke;
}
#radio4:checked ~ .navigation-auto .auto-btn{
    background: whitesmoke;
}