.max-width-nav {
  max-width: 700px;
}

body {
  min-height: 100%;
  background-color: rgb(68, 68, 68);
}
#arenas {
  color: white;
}

@media only screen and (min-width: 360px) {
  a {
    text-decoration: none;
    color: white;
  }

  a:visited {
    color: white;
  }

  .container {
    text-align: center;
  }

  .teams {
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
  }

  .games {
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
  }

  .btn-group button {
    margin-top: 20px;
    font-size: 10px;
    color: white;
    background-color: #212529;
    padding: 10px 20px;
    cursor: pointer;
    float: left;
  }

  .btn-group button:hover {
    background-color: rgb(143, 133, 133);
  }
}

@media only screen and (min-width: 760px) {
  a {
    text-decoration: none;
    color: white;
  }

  a:visited {
    color: white;
  }

  .teams {
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
  }

  .games {
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
  }

  .btn-group button {
    margin-top: 20px;
    font-size: 18px;
    color: white;
    background-color: #212529;
    padding: 25px 60px;
    cursor: pointer;
    float: left;
  }

  .btn-group button:hover {
    background-color: rgb(143, 133, 133);
  }

  .columns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
  }

  .drop {
    width: 8cm;
    height: 1cm;
    margin-top: 30px;
    text-align: center;
  }

  select {
    text-align-last: center;
  }

  .team1 {
    display: inline-block;
  }

  .team2 {
    display: inline-block;
  }

  .h1 {
    display: inline-block;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 20px;
  }

  .submit {
    background-color: black;
    color: white;
    border-radius: 64px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
  }

  .submit-wrap {
    width: 50%;
    text-align: center;
  }
}
