body {
    margin: 2em 4em 2em 4em;
}

.description {
    display: block;
    margin-bottom: 5px;
}

h2{
    font-size: 25px;
}

.updateForm{
    background-color:rgb(98, 0, 255);
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    color:white;
}
li{
    margin: 4px;
}
