html{
  background-color: #53B797;
}

body{
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  background-color: #53B797;
  text-align:center;
}


.container{
  display:inline-block;
  width: inherit;

}


#box{

  display:flex;
  height: 400px;
  width: 500px;

}

.container, .flex-container{
  flex-direction: row;
  display:inline-flex;

}
p, input, button{
  font-size: 20px;
}


input{
  text-align: center;
  margin-left: 5px;
}

.flex-child, li{
  padding: 10px;
  align-items: flex-start;
  text-align: left;
  font-size: 20px;
 
}

#bbox{
  display: flex;
}

