

body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: large;
    background-color: darkseagreen;
    text-align:center;
}

#update-container{
    display:inline-flex;
}

#bbox{
    display: flex;
}

#update-form{
    vertical-align: middle;
}

.box{

    display:inline-flex;
    height: 500px;
    width: 500px;

}

.flex-container{
    flex-direction: row;
    display:inline-flex;

}

.field{
    padding: 10px;
    text-align: left;
}

#explicit{
    display: inline-flex;
    flex-direction: row;
    margin: 5px;
    margin-left: 90px;
}

#not-explicit{
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin-left: 50px;

}