
html{
    background-color: #53B797;
}

body{
    font-family: "Helvetica Neue", sans-serif;
    font-size: large;
    background-color: #53B797;
    text-align:center;
}

.subheading, #subheading{
    display:inline-flex;
    width: 600px;
}

#update-container{
    display:inline-flex;
    width: inherit;
  
}

#bbox{
    display: flex;
}

#back{
    color:white;
}

#update-form{
    vertical-align: middle;
}

#box{

    display:block;
    height: 400px;
    width: 500px;

}

.flex-container{
    
    flex-direction: row;
    display:inline-flex;

}

.field{
    padding: 10px;
    text-align: left;
}

#explicit{
    display: inline-flex;
    flex-direction: row;
    margin: 5px;
    margin-left: 90px;
}

#not-explicit{
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin-left: 50px;

}

.button.is-dark {
    background-color: #363636;
    border-color: transparent;
    color: white;
}


#add {
    margin-top: 30px;
    display: block;
}

.submit{
    padding:15px;
    display: flexbox;
}

#submit{
    padding:15px;
    display: flexbox;
}