* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

body {
   margin: 0;
   padding: 0;
   font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
     ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, 'Courier New (monospace)', sans-serif;
   background-color: black;
 }
 
 /* Page Layout */
.columns {
   display: flex;
   flex-wrap: wrap;
 
   flex-direction: row wrap;
   justify-content: space-evenly;
   align-items: center;
 }
 
.wrapper {
   display: flex;
   justify-content: center;
   
 }

.container {
   max-width: 960px;
   margin-top: px;
 }
 
.header {
   background-color: #c3f951;
   padding: 50px;
   color: #0c5400;
   text-align: center;
   border-bottom: 0px;
   justify-content: center;
 }

.header2 {
   background-color: #c3f951;
   padding: 50px;
   color: #0c5400;
   text-align: center;
   border-bottom: 10px;
   justify-content: left;
}

.logo0{
  height: 200px;
  justify-content: center;
}

.logo{
  padding:10px;
  height: 180px;
  justify-content: center;
}


 .menu-container {
  background-color: #b3e943;  
  padding: 15px;
  display: flex;
  justify-content: center;

}

.menu {
  text-align: center;
  color: #000000;
  background-color: #92b93c;
  border: none;
  border-radius: 3px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 12px;
  cursor: pointer;
  width: 100px;
}

a{
  color: green;
  font-family: 'Courier New';
  text-decoration: none;
}

/* visited link */
a:visited {
  color: green;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: lightgreen;
  text-decoration: none;
}

/* selected link */
a:active {
  color: green;
  text-decoration: none;
}

.login {
   background-color: #FFFFFF;
   border-radius: 3px;
   padding: 50px;
   margin: 30px;
   color: #000000;
   width: 350px; 
 }

 .dietrequest { /*practicing with this for now ~VEZ*/
  color: white;
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 50px;
  margin: 30px;
  color: #000000;
  width: 350px; 
}

.content {
  /*background-color: #ffffff;*/
  border-radius: 3px;
  padding: 50px;
  margin: px;
  color: #ffffff;
  width: 650px; 
  text-align: center;
  font-family: 'Courier New';
}


.form-row {
   margin-bottom: 15px;
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   flex-wrap: wrap;
 }
 
.form-row input[type='text'] {
   background-color: #a5a5a5;
   border: 1px white;
   width: 100%;
   padding: 5px;
 }
 
.form-row label {
   margin-bottom: 15px;
   margin-top: 15px;
   font-weight: bold;
   font-size: 17px;
 }
 
.submit_button {
   font-size: 17px;
   text-align: center;
 
   color: #ffffff;
   background-color: #000000;
 
   border-color: #b3e943;
   border-radius: 3px;
 
   margin-top: 15px;
   padding: 10px;
   width: 100%;
   cursor: pointer;

   font-family: 'Courier New';
 }
 
 .form-row button:hover {
   background-color: #c3f951;
 }
 
 .form-row button:active {
   background-color: #9ecc3a;
 }

    /* Mobile Styles */
     @media only screen and (max-width: 400px) {
      .page {
          width: 100%;
          margin: 0 auto;
        }
  
      }
  
    
    /* Tablet Styles */
    @media only screen and (min-width: 401px) and (max-width: 960px) {
      .page {
          width: 100%;
          margin: 0 auto;
        }
  
  
    }
    
    /* Desktop Styles */
    @media only screen and (min-width: 961px) {
      .page {
          width: 100%;
          margin: 0 auto;
        }

      .header2{
          top: 0;
          left: 0;
          width: 300px;
          height: 100%;
          position: absolute;
      }
      
      .header3 {
          
          height: 100%;
          display: flex;
          flex-direction: column;
          
          align-content: space-between;
          justify-content: space-between;
      }
   
      .body{
          border-left: 250px ;
      }

      .menu-container2 {
        
        padding: 30px;
        display: flex;
        justify-content: center;
        top: 250px;
        left: 0;
        width: 320px;
        margin: ;
        height: 50%;
        position: absolute;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row wrap;
        justify-content: space-evenly;
        align-items: center;
        font-size: 17px;
      
      }
      .menu2 {
        text-align: center;
        color: #000000;
        background-color: #b3e943;
        border: none;
        border-radius: 3px;
        margin-left: ;
        margin-right: 15px;
        padding: 20px;
        cursor: pointer;
        width: 320px;
      }
      
  
    }
