*{
    color: #C5C6C7;
}

body {
    background-color: #1F2833;
}

#center {
    display: flex;           
    flex-direction: column;  
    justify-content: center; 
    align-items: center; 
}

tr {
    background-color: #1f5a50;
}
