table.center {
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background: linear-gradient(120deg, #ff8800, #ff3300);

}

.navbar-item {
  color: white;
}

i {
  margin-right: 0.2cm;
}

@media only screen and (max-width: 768px) {
  .navbar-item {
    color: black;
  }

  .active-page {
    color: white;
    background-color: transparent;
  }

  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }
}

.active-page {
  background-color: black;
}

.table_wrapper {
  overflow-x: auto;
}

.listings {
  text-align: left;
  height: 100%;
}


details > summary {
  text-align: center;
  padding: 0;
  margin: 0;
  width: 15em;
  background-color:#ff8800;
  border: none;
  cursor: pointer;
  width: 100%;
  border: 1px solid;
  height: 38px;
  font-size: large;
  font-weight: 700;
}

img {
  padding: 0;
  margin: 0;
  height: 500px;
  width: 93.4%;
}

.container-p {
  align-items: center;
}

.container {
  background-color:#f4ecc2;
  align-items: center;
}

.description {
  text-align: center;
}

.ton {
  background-color: #ff8800;
  color: white;
}

.box {
  border: 10px;
  border-style: solid;
  border-color: #ff8800;
  background-color:#ddd;
  max-width: 700px;
  margin: auto;
}

.boxx {
  max-width: fit-content; 
  background-color: white;
  border: 10px;
  border-style: solid;
  border-color: #ff8800;
  max-width: 1300px;
  margin: auto;
  padding: 15px;
}


p{
  font-family: Serif; 
  font-size: 24px;
}

.logo {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  margin-top: 10px;
}

.logo > img {
  width: 300px;
  height: 300px;
}