*:not(.material-icons) {
    font-family: 'Karla', Arial, sans-serif;
    font-size: 1em;
}

.dropdown-content {
    font-size:.8em!important;
    min-width: 200px;
}

.wrapper {
    max-width: 960px;
    margin:0 auto;
    padding-top: 10px;
    padding-bottom: 50px;
}

img { 
    width: 100%; 
    height: 280px;
    object-fit: cover!important;
    border: 1px solid rgb(248, 243, 243);
}

.content { 
    margin-top: 10px; 
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: white;
    box-shadow: none;
}

nav a {
    font-weight: 700;
    font-size: 1.2em!important;
    color: #000!important;
    margin-left: 15px;
    margin-right: 15px;
}

nav ul a:hover{
    background-color: transparent!important;
}

nav ul .active {
    background-color: transparent!important;
    color: red!important;
}

#num-results {
    margin-bottom: 10px;
    opacity:.8;
    font-size: .7em;
    text-transform: uppercase;
    margin-left: -9px;
    margin-top: -10px;
}

.row {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start!important;
    justify-content: flex-start!important;
    align-items: flex-start!important;

}

.movie {
    margin:1%;
    /* margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px; */
    min-width: 200px;
    width: 30%;
}

.col-content {
    padding:10px;
    border: 1px solid #eee;
    align-self: flex-start!important;
    /* background-color: rgb(255, 254, 254); */
}

.filters {
    border: 1px solid #eee;
    margin-top: 10px;
    padding-bottom: 10px;
}

.filter-label {
    font-size: .7em;
    text-transform: uppercase;
}

.movie-details {
    font-size: .7em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: .9;
}

.movie-details .title {
    font-weight: 700;
    font-size: 1.4em;
}

.genre, .year, .rating, .lang, .platform-details {
    opacity: .7;
    text-transform: uppercase;
}

.platform-details data:not(:last-child):after {
    content: ' / ';
}

.input-field {
    margin-left:7px;
}

input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

.col .row {
    max-width: 100%;
}
.submit {
    display: flex;
    justify-content: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

#ratings {
    border-collapse: collapse;
    border-spacing: 0;
}

#ratings .th, #ratings td {
    padding: 10px 20px;
    border: 1px solid #000;

}

table .material-icons {
    font-size: 1em!important; 
    opacity: .7;
    padding: 7px;
}

table {
    font-size: .85em!important;
}

#search, .filters .platforms {
    margin-bottom: -10px;
}

#delete {
    max-width: 400px!important;
}

.modal h4 {
    font-size: 1.5em;
}

#table-head {
    opacity: 0;
}

label span {
    font-size: .9em!important;
}

.p1 {
    margin-right: 20px;
}

.px {
    margin-bottom: -20px;
}

/* input[type=text]:not(.browser-default) {
    box-sizing: border-box!important;
} */
  
/* input.select-dropdown {
    overflow:hidden; 
    text-overflow: ellipsis;
} 

  
input {
    font-size: .95em!important;
    min-width: 180px!important;
} 

.dropdown-content li>a, .dropdown-content li>span {
    font-size: .8em!important;
    padding: 10px;
}
.dropdown-content li {
    line-height: 1rem;
    min-height: 40px;
} */

#platform-error {
    color: red;
    font-size: .7em;
    display: none;
    margin-top: 10px;
    margin-bottom: -20px;
}

.error {
    color: red;
    font-size: .7em;
    /* display: none; */
}

/* ////////////////////////////// */
.wrap_paragraph {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.15em!important;
    color: #000!important;
    width: 100%;
    margin-top: 1rem; 
    
}

.availability_genre_wrap {
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 40px;
}

.text {
    color: lightgray;
    padding-top: 10%;
    padding-left: 1px;
}

.wrap_paragraph {
    font-weight: 400;
}