button:focus {
  background-color: sandybrown;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
}

.max-width-nav {
  max-width: 700px;
}

body {
  min-height: 100%;
  background-color: rgb(68, 68, 68);
}

@media only screen and (min-width: 360px) {
  a {
    text-decoration: none;
    color: white;
  }

  a:visited {
    color: white;
  }

  .container {
    text-align: center;
  }

  .teams {
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
  }

  .games {
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
  }

  .btn-group button {
    margin-top: 20px;
    font-size: 10px;
    color: white;
    background-color: #212529;
    padding: 10px 20px;
    cursor: pointer;
    float: left;
  }

  .btn-group button:hover {
    background-color: rgb(143, 133, 133);
  }

  .arena-pic {
    margin-top: 20px;
    max-width: 100%;
  }

  .quote {
    color: white;
    font-size: 10px;
    font: bold;
    margin-top: 10px;
  }

  .nba-logo {
    width: 60px;
  }

  .logo {
    color: white;
    margin-top: 25px;
    font-size: 12px;
    margin-top: 60px;
  }

  .logo p {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 760px) {
  a {
    text-decoration: none;
    color: white;
  }

  a:visited {
    color: white;
  }

  .container {
    text-align: center;
  }

  .teams {
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
  }

  .games {
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
  }

  .btn-group button {
    margin-top: 20px;
    font-size: 18px;
    color: white;
    background-color: #212529;
    padding: 25px 60px;
    cursor: pointer;
    float: left;
  }

  .btn-group button:hover {
    background-color: rgb(143, 133, 133);
  }

  .arena-pic {
    margin-top: 20px;
    max-width: 100%;
  }

  .nba-logo {
    width: 60px;
  }

  .logo {
    color: white;
    margin-top: 0;
    font-size: 20px;
  }

  .logo p {
    margin-bottom: 0;
  }
}

.title {
  display: inline-block;
  background-color: rgba(0, 139, 139, 0.8);
  border-radius: 4px;
  padding: 10px 15px;
  display: flex;
  margin: 0;
  margin-bottom: 5px;
}

.photo-grid-container {
  display: flex;
  align-self: center;
  align-items: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
}

.first-item {
  order: 1;
}

.last-item {
  order: -1;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}

.carousel {
  overflow: hidden;
  max-width: 800px;
  position: relative;
}

.carousel_item,
.carousel_item--hidden {
  display: none;
  height: 250px;
}

.carousel_item img {
  width: 100%;
  max-width: 250px;
  max-height: 250px;
  height: auto;
}

.carousel_item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.carousel_actions {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel_actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

#carousel_button--prev {
  margin-left: 20px;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

#carousel_button--next {
  margin-right: 20px;
  border-radius: 4px;
  padding-right: 8px;
  padding-left: 8px;
}
